/* Tour page styles */

caption {
  visibility: hidden;
}

.heading{
  display: inline-block;
  margin: -2px 0 0 0;
  font-size: 1.85em;

}

.pick{
  width: 35px;
  height: 0%;
  padding: 10px;
}

.card{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

table{
  width: 360px;
  margin:0 auto;
}

th, td{
  padding: 5px 0;
}

 th{
   font-weight: bold;
   font-size: 1.1em;
 }

 td{
   font-weight: 300;
 }

@media screen and (min-width: 840px) {

  .heading{
    font-size: 2em;
  }

  .pick{
    width: 40px;
  }

  .flex{
    display: block;
    text-align: center;
  }

  table{
    text-align:left;
    width: 600px;
    margin:0 auto;
  }

  td{
    font-weight: 400;
  }

  th, td{
    padding: 5px 15px;
  }
}
